[submodule "HexMod"]
	path = vendor/HexMod
	url = https://github.com/gamma-delta/HexMod
[submodule "Hexal"]
	path = vendor/Hexal
	url = https://github.com/Talia-12/Hexal
[submodule "MoreIotas"]
	path = vendor/MoreIotas
	url = https://github.com/Talia-12/MoreIotas
[submodule "HexTweaks"]
	path = vendor/HexTweaks
	url = https://github.com/walksanatora/HexTweaks
[submodule "HexKinetics"]
	path = vendor/HexKinetics
	url = https://github.com/Sonunte/HexKinetics
